$text-color: #FFFFFF;
$background-light: #F2F2F2;
$white_darker:#B7B3B3;
$Blue_Color:#009BD6;
$Yellow_Color:#FFAA00;
$Green_Color:#00D95F;
$primary-color: #000000;
$Sec_Black:#1f1f1f;
$secondary-color: #9D0B0B;



$breakpoint-tablet: 820px;
$breakpoint-mobile: 576px;
$breakpoint-tablet-min: 600px;
$breakpoint-tablet-max: 991.98px;

// Breakpoints
$mobile: 576px;
$tablet: 768px;
$desktop: 992px;
$large-desktop: 1200px;